body {
  background-color: black;
  margin: 0;
  padding: 0;

}

.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.dropbtn {
  color: #F00202;
  font-size: 20px;
  background-color: black;
  border: none;
  font-family: 'Merienda', 'cursive';
}

.content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: inherit;
}

.content #drp {
  color: #F00202;
  font-family: 'Merienda', 'cursive';
  display: block;
}

.content #drp:hover {
  background-color: white;
}

.dropdown:hover .content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}

a:hover {
  font-size: 150%;
  cursor: pointer;
}

a {
  color: #F00202;
  font-family: 'Merienda', 'cursive';
  font-size: 20px;
}

.title {
  display: flex;
  justify-content: center;
  font-family: 'Merienda', 'cursive';
  color: #1E8B44;
  font-size: 55px;
  margin: 10px;
}

.pic {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.pic img {
  width: 600px;
  transform: translate(70%, 3%);
  padding-bottom: 40px;
  align-content: center;
}

p {
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  font-size: 28px;
  letter-spacing: 4px;
  line-height: 1.6;
  /* overflow: hidden; */
}

@media screen and (max-width: 768px) {
  p {
    font-size: 60%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
  }

  .pic img {
    display: flex;
    flex-direction: row;
    align-content: center;
    transform: translate(16%, 3%);
    padding-bottom: 40px;
    align-content: center;
  }
  img {
    width: 100%;
    max-width: 280px;
    height: auto;
  }
  .title {
    font-size: 150%;
  }

  a, .dropbtn, .content {
    font-size: 60%;
  }
  .Navbar {
    padding: 2%;
  }
  #navitem {
    display: flex;
    width: 10%;
  }
}
