body {
  background-color: black;
  margin: 0;
  padding: 0;

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: inherit;
}

.content #drp {
  color: #F00202;
  font-family: 'Merienda', 'cursive';
  display: block;
}

.content #drp:hover {
  background-color: white;
}

.dropdown:hover .content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}

a {
  color: #F00202;
  font-size: 20px;
  font-family: 'Merienda', 'cursive';
}

a:hover {
  font-size: 150%;
  cursor: pointer;
}

#title {
  display: flex;
  justify-content: center;
  font-size: 55px;
  color: #1E8B44;
  font-family: 'Merienda', 'cursive';
  margin-top: 10px;
}

.container {
  justify-content: space-between;
  margin-right: 60px;
  margin-left: 100px;
  padding: 30px;
  color:
}

#items, #salad {
  color: #1E8B44;
  font-family: 'Julius Sans One', sans-serif;
}

ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  column-gap: 250px;
}

h3 {
  color: white;
  padding-bottom: 10px;
}

h2 {
  padding-top: 20px;
}

h1 {
  padding-top: 10px;
  text-decoration: underline;
}

@media screen and (max-width:600px) {
  .Navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }

}
