body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.dropbtn {
  color: #F00202;
  font-size: 20px;
  background-color: black;
  border: none;
  font-family: 'Merienda', 'cursive';
}

.content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: inherit;
}

.content #drp {
  color: #F00202;
  font-family: 'Merienda', 'cursive';
  display: block;
}

.content #drp:hover {
  background-color: white;
}

.dropdown:hover .content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}

a:hover {
  font-size: 150%;
  cursor: pointer;
}

a {
  color: #F00202;
  font-family: 'Merienda', 'cursive';
  font-size: 20px;
}

a:hover {
  font-size: 150%;
  cursor: pointer;
}

#title {
  display: flex;
  justify-content: center;
  font-size: 55px;
  color: #1E8B44;
  font-family: 'Merienda', 'cursive';
  margin-top: 10px;
}

.container {
  /* justify-content: space-between; */
  margin-right: 60px;
  margin-left: 100px;
  padding: 30px;
}

#items, #salad {
  color: #1E8B44;
  font-family: 'Julius Sans One', sans-serif;
}

ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  column-gap: 250px;
}

h3 {
  color: white;
  padding-bottom: 10px;
}

h2 {
  padding-top: 20px;
}

h1 {
  padding-top: 10px;
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .navlinks {
    width: 85%;
  }

}

@media screen and (max-width:768px) {
  a, .dropbtn, .content {
    font-size: 65%;
  }
  .Navbar {
    padding: 2%;
  }
  #navitem {
    display: flex;
    width: 10%;
  }

  #title{
    font-size: 120%;
  }
  .container {
    margin: auto;
    font-size: 65%;
    /* position: absolute; */
  }

  ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    column-gap: 10%;;
  }
}
