body {
  background-color: white;
  margin: 0;
  padding: 0;

}

.Navbar {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  overflow: hidden;
}

.dropbtn {
  color: #F00202;
  font-size: 20px;
  background-color: inherit;
  border: none;
  font-family: 'Merienda', 'cursive';
}

.content {
  display: none;
  position: absolute;
  background-color: inherit;
  min-width: inherit;
}

.content #drp {
  color: #F00202;
  font-family: 'Merienda', 'cursive';
  display: block;
  margin: 10px;
}

.content #drp:hover {
  background-color: inherit;
}

.dropdown:hover .content {display: block;}

.dropdown:hover .dropbtn {background-color: inherit;}

a {
  color: #F00202;
  font-size: 20px;
  font-family: 'Merienda', cursive;
}
a:hover {
  font-size: 150%;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  color: #1E8B44;
  margin: 5px;
  font-size: 55px;
  font-family: 'Merienda', 'cursive';
  margin-top: 10px;

}
.sushirolls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 5px;
  margin-bottom: 35px;

}


img {
  width: 380px;
  height: 280px;
  max-width: 100%;
  max-height: auto;
}

img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.info {
  box-sizing: border-box;
  background: black;
  width: 100%;
  display: none;
}

h3 {
  color: #1E8B44;
  font-family: 'Julius Sans One', sans-serif;
}

h2 {
  color: white;
  font-family: 'Julius Sans One', sans-serif;

}

@media screen and (max-width: 768px) {
  .Navbar {
    padding: 2%;
  }
  #navitem {
    /* Scale down the navbar items to 10% of original size */
    display: flex;
    width: 10%;
  }

  a, .dropbtn, .content {
    font-size: 65%;
  }

  header {
    display: flex;
    font-size: 120%;
  }

  /* The sushi rolls container dictates the orientation of the images it contains
  I changed the orientation to a column when users are using a mobile device*/
  .sushirolls{
    display: flex;
    flex-direction: column;
    font-size: 60%;
   }

   .roll {
     width: auto;
   }
  img {
    width: 100%;
    max-width: 180px;
    height: auto;
  }
}
