body {
  background-color: white;
  /* background-color: black; */
  margin: 0;
  padding: 0;

}


.Navbar {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  overflow: hidden;
}

.dropbtn {
  color: #F00202;
  background-color: inherit;
  font-size: 20px;
  border: none;
  font-family: 'Merienda', 'cursive';
}

.content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: inherit;
  margin:10px;
}

.content #drp {
  color: #F00202;
  font-family: 'Merienda', 'cursive';
  display: block;
  margin: 10px;
}


.dropdown:hover .content {display: block;}

.dropdown:hover .dropbtn {background-color: inherit;;}

a {
  color: #F00202;
  font-size: 20px;
  font-family: 'Merienda', cursive;
}
a:hover {
  font-size: 135%;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  color: #F00202;
  margin: 5px;
  font-size: 145%;
  font-family: 'Merienda', 'cursive';
  margin-top: 10px;
  padding: 20px;

}

.gridcontainer {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

h4 {
  color: black;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 120%;
}

article {
  color: black;
  font-size: 150%;
  font-family: 'Julius Sans One', sans-serif;

}

ul {
  list-style: none;
}

@media only screen and (min-width: 560px) {
  .gridcontainer {
    grid-template-columns: 1fr 1fr;
  }

  header {
    font-size: 100%;
  }

}


/* screens at a minimum width of 850px and larger will display 2 columns */
@media only screen and (min-width: 850px) {
  .gridcontainer {
    /* the grid-temp-col provides number of columns */
    grid-template-columns: 1fr 1fr;
  }

}
